{% extends "base.html" %}

{% block content %}
<div class="row">
	<div class="col s12">
		<h1>Adminirano Panel</h1> 
		<div class="section">
			<h3>Buzzer Table</h3>
			<table>
				<thead>
					<th>ID:</th>
					<th>NAME:</th>
					<th>BUZZED AT: </th>
				</thead>
				<tbody id="buzzing-table">
				</tbody>
			</table>
			<p>Connected teams: <span id="teams">{{ teams }}</span></p>
			<a class="btn-large" id="reset">New round</a>
		</div>
	</div>
</div>
<div class="divider"></div>
<div class="row">
	<div class="col s12">
		<div class="section">
			<h3>Bonush Quesht Counter</h3>
			<h4>Points: <span id="points-counter">0</span></h4>
			<button class="btn-large" id="counter">Add point</button>
			<button class="btn-large" id="counter-reset">Reset</button>
		</div>
	</div>
</div>
{% endblock %}

{% block socketio %}
<script>
	var socket = io.connect('http://localhost:4200/admin')
	var buzzId = 0
	var counter = 1

	socket.on('connect', function(data) {
		console.log('Connected to socket')
	})
	
	socket.on('buzz-from', function(data) {
		console.log('buzz-from: ' + data)
		var time = new Date(data.time)
		var timeString = time.getHours() + ':' + time.getMinutes() + ':' + time.getSeconds() + ':' + time.getMilliseconds()
		var newBuzzRow = '<tr><td>' + buzzId++ + '</td><td>' + data.name + '</td><td>' + timeString + '</td></tr>'
		$('table tbody').append(newBuzzRow)

	})

	socket.on('team-connect', function(data) {
		console.log('New team connected, count is now: ' + data.teams)
		$('#teams').html(data.teams)
		Materialize.toast('New team arrived (' + data.teams + ')', 4000)
	})

	socket.on('team-disconnect', function(data) {
		console.log('Team disconnected, count is now: ' + data.teams)
		$('#teams').html(data.teams)
		Materialize.toast('Team disconnected: (' + data.teams + ')', 4000)

	})

	$('#reset').on('click', function(e) {
		console.log('Demanding reset')
		socket.emit('reset')
		buzzId = 0
		$('table tbody').empty()
	})
	
	$('#counter').on('click', function(e) {
		$('#points-counter').html(counter++)
	})

	$('#counter-reset').on('click', function(e) {
		counter = 1
		$('#points-counter').html('0')
	})
</script>
{% endblock %}
