{% extends "base.html" %}

{% block content %}
<div class="row">
	<div class="col s12">
		<h1>Adminirano Panel</h1> 
		<div class="divider"></div>
		<div class="row">
			<div class="col s6">
				<div class="section">
					<h3>Bonush Quesht Counter</h3>
					<h4>Points: <span id="points-counter">0</span></h4>
					<button class="btn-large blue lighten-1" id="counter">Add point</button>
					<button class="btn-large red lighten-1" id="counter-reset">Reset</button>
				</div>
			</div>
			<div class="col s6">
				<div class="section">
					<h3>Countdownr</h3>
					<h4>Remaining time: <span id="countdownr">0</span></h4>
					<button class="btn-large green lighten-1" id="countdownr-button">Start timer</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="divider"></div>
<div class="row">
	<div class="col s12">
		<div class="section">
			<h3>Buzzer Table</h3>
			<table>
				<thead>
					<th>ID:</th>
					<th>NAME:</th>
					<th>BUZZED AT: </th>
				</thead>
				<tbody id="buzzing-table">
				</tbody>
			</table>
			<p>Connected teams: <span id="teams">{{ teams }}</span></p>
			<a class="btn-large red lighten-1" id="reset">New round</a>
		</div>
	</div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/js/Countdownr.js"></script>
<script type="text/javascript" src="/js/admin.js"></script>
{% endblock %}
